$primary-color: hsl(25, 97%, 53%);
$primary-font-size: 0.9375em;
$background-body: hsl(216, 12%, 8%);
$background-main: hsl(213, 19%, 18%);
$background-button: hsla(217, 12%, 63%, 0.2);
$color-main: hsl(0, 0%, 100%);